body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  margin: 40px;
  line-height: 1.6;
}

h1 {
  color: #e41e26; 
  text-align: center;
  font-size: 50px;
}

h2 {
  color: #c41c22;
  margin-top: 60px;
 
  
}

ul {
  list-style-type: disc;
  padding-left: 50px;
  font-size: 18px;
  
}

img {
  display: block;
  margin: 20px ;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

p {
  max-width: 1200px;
  margin: 0 ;
  text-align: justify;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e41c24;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
    max-width: 500px;
    margin: 40px auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #e41c24;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #c9161c;
}
