
body {
  font-family: 'Arial', sans-serif;
  background-color: #fcfcfc;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}


h1 {
  background-color: #e60d0d;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  font-size: 2.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
}


h2 {
  color: #e50914;
  border-left: 6px solid #e50914;
  padding-left: 10px;
  margin-top: 30px;
}

p {
  font-size: 1.1em;
  margin: 20px;
  text-align: justify;
}


ul {
  margin: 20px;
  padding: 0 40px;
  list-style-type: circle;
}

li {
  margin-bottom: 10px;
  font-size: 1.05em;
}


img {
  display: block;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}


footer {
  background-color: #e50914;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9em;
  margin-top: 40px;
}
